.breadcrumbs{
    height: rem(25);
    line-height: rem(25);
    padding: 0 0 0 5.2%;
    font-size:rem(12);
    background: #F7F7F7;
    margin-bottom: rem(36);
    a + span{
        font-size: 1rem;
        margin: 0 .2rem;
    }
    @include mq("tab"){
     margin-bottom: rem(65);
    font-size:rem(12);
    padding: 0 0 0 11.5%;
    height: rem(45);
    line-height: rem(45);
    letter-spacing: .05em;
}
}
.breadcrumbs__contents{
    display: inline-block;
    height: inherit;
}