.footer{
background: #120E19;
font-family: "Montserrat", sans-serif;
}
.footer__inner{

    @include mq(tab){
        text-align: center;
    }
}
.footer__list{
    margin-left: rem(30);
    margin-right: rem(51);
   padding: rem(60) 0 rem(17);
   width: 90.5%!important;
   @include mq(tab){
    justify-content: initial;
    padding: rem(59) 0 rem(4);
    font-size: rem(9);
    margin-left: auto;
    // width: 65.8%;
    justify-content: center!important;
 

}
}
.footer__list-item{
    font-size: rem(13.7);
    margin-bottom: rem(17)!important;
    margin-right: 1.2625rem!important;
    @include mq(tab){
    margin-bottom: rem(17)!important;
    margin-right: 1.94rem;
   
    }
    
}