/*wp-pagenavi 01*/
.wp-pagenavi {
	clear: both;
	text-align:center;
    margin-bottom: rem(80);
    @include mq(tab){
        margin-bottom: rem(110);
    }
}
.wp-pagenavi a, .wp-pagenavi span {
	color: #fff;
	background-color: #7633A4;
	padding: 8px 15px;
	margin: 0 2px;
	white-space: nowrap;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	text-align: center;
	text-decoration: none;
    border-radius: 50%;
    font-weight: bold;
    display: inline-block;
    font-size: rem(16);
}
.wp-pagenavi a:hover{
	color: #FFF;
	background-color: #7633A4;
    opacity: 0.8;

    }
.wp-pagenavi span.current{
	color: #000;
	background-color: #F1EBF8;
	font-weight: bold;
    }