.top__box1--bg{
    background: #F0F0F0;
}
.top__box2--bg .l-inner{
    background: url("../../../assets/img/top/pc/bg/bg-circle.png") center center no-repeat;
    background-size: contain;
    padding-bottom: rem(73);
  
}
